body {
  background-color: #121212; 
  color: #f1f1f1;
}


a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  color: #0056b3; 
}

.car {
  color: #fff;
}

.card {
  background-color: #1e1e1e;
  color: #f1f1f1;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.btn-primary {
  background-color: #007BFF;
  border-color: #007BFF;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0056b3;
  border-color: #0056b3;
}



.service-card:hover {
    transform:translateY(-10px);
}

.var {
  color: #fff;
}
